body {
    margin: 0px;
}

.background-c {
    background-color: rgb(89, 155, 221);
}

.background-c2 {
    background-color: rgb(48, 48, 163);
}

.white {
    color: white;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 250%;
    margin-bottom: 0px;
    color: white;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 40, 143);
    margin-bottom: 15px;
    margin-top: 30px;
}

.h2-for-box {
    color: white;
    margin-bottom: 5px;
}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 140%;
    color: rgb(24, 75, 205);
    margin-top: 20px;
    margin-bottom: 0px;
}

h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 130%;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
}

h5 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(14, 14, 187);
    margin-top: 2px;
    margin-bottom: 2px;
}




img {
    width: 100%;
    border-radius: 30px;
}

.img-frame {
    margin: 30px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 30px;
    box-sizing: border-box;
    border: 2px solid rgb(24, 75, 205);
}
.max-img{
    max-width: 500px;
    max-height: 500px;
}
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 110%;
    line-height: 1.6;
    color: white;
    word-wrap: break-word;
}

.par-color {
    color: white;
}

.par-font {
    font-size: 120%;
}
.par-font2{
    font-size: 150%
}
.p-ind {
    text-indent: 20px;
}

.p-right {
    float: right;
    margin-right: 40px;
}

.p-break {
    word-wrap: break-word;
}

.line-spacing {
    line-height: 1.7;
}

.word-size {
    font-size: 150%;
}



.div-20 {
    width: 20%;
}

.div-30 {
    width: 30%;
}

.div-40 {
    width: 40%;
}

.div-50 {
    width: 50%;
}

.div-70 {
    width: 70%;
}

.div-80 {
    width: 80%;
}

.div-100 {
    width: 100%;
}

.div-left {
    float: left;
}

.div-right {
    float: right;
}

.div-right-box {
    margin: 20px 5px;
    padding: 10px;
    padding-left: 40px;
    padding-bottom: 35px;
    border-radius: 30px;
    background-color: rgb(55, 55, 127);
    border: 2px solid rgb(24, 75, 205);
}




.mar-to-top {
    margin-top: 5px;
}

.mar-to-top2 {
    margin-top: 50px;
}

.mar-to-bottom {
    margin-bottom: 20px;
}

.mar-to-left {
    margin-left: 30px;
}

.mar-to-left2 {
    margin-left: 100px;
}

.pad-to-right {
    padding-right: 100px;
}

.align-center {
    text-align: center;
}

.pad-to-bottom {
    padding-bottom: 20px;
}
.mar-left-2{
    margin-left: 80px;
}
.mar-bottom-2{
    margin-bottom: 0px;
    padding-bottom: 0px;
}


.right-box-info {
    font-size: 20px;
    margin-right: 12px;
}

.date-placing {
    margin-top: 25px;
    margin-right: 60px;
}

.icon {
    color: rgb(21, 21, 221);
}

.listing-info {
    background-color: grey;
    color: white;
    padding: 10px 20px;
    text-align: center;
    margin-right: 50px;
    border-radius: 30px;

}

.link-display {
    color: white;
    text-decoration: none;
}

.blue-back {
    background: #416daf;
}



#text-ul ul {
    margin-bottom: 50px;
    line-height: 1.5;
    color: white;
}

#text-ul li {
    margin: 20px;
    color: white;
}

#text-ul {
    margin-top: 50px;
}

#text-ul ul li {
    color: blue;
    list-style-type: disc;
    margin-right: 20px;
    color: white;

}

#text-ul ul li span {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 110%;
    color: white;
}


.fix {
    position: fixed;
}

.content {
    margin-top: 40px;
}

.background-menu {
    display: block;
    width: 100%;
    z-index: 1;
}

#header {
    background: rgb(55, 55, 90);
    height: 50px;
    top: 0;
    position: fixed;
}

#footer {
    background: rgb(55, 55, 90);
    display: inline;
    height: auto;
    width: 100%;
    margin-bottom: 60px;
}

#dropdown-menu {
    cursor: pointer;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    width: 200px;
    vertical-align: middle;
    color: white;
    background: #416daf;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
}

.dropdown-content {
    cursor: pointer;
    display: none;
    background: rgb(47, 117, 187);
    position: relative;
    min-width: 160px;
    z-index: 1;
    left: 0;
    font-weight: normal;
    font-size: medium;
}

#dropdown-menu li {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    list-style-type: none;
}

#dropdown-menu ul {
    margin: 0;
    padding: 0;
}

#dropdown-menu:hover .dropdown-content {
    display: block;
}

#dropdown-menu li:hover {
    background: #416daf;
    overflow: visible;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
}

.wellcome-div {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    width: 100%;
    vertical-align: middle;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 110%;
    overflow: hidden;
}

#footer2 {
    background: #416daf;
    width: 100%;
    height: 60px;
    bottom: 0;
    position: fixed;
    padding-left: 100px;
    padding-right: 100px;
}


.mar-all {
    margin-left: 10px;
    margin-right: 10px;
}

.mar {
    margin-left: 0px;
    margin-right: 0px;
}



.thumb {
    display: inline-block;
    position: relative;
    border: 5px solid blue;
    border-radius: 35px;
    margin: 15px;
    transition: all 0.5s ease;
}
.thumb:hover{
    border: 5px solid rgb(21, 51, 148);
    outline: 6px solid #5fecff;
    box-shadow: 10px 10px 5px #888888;
    opacity: 0.6;
}

.point_on img {
    width: 200px;
    height: 200px;
}


.background {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 14, 14, 0.827);
    top: 0;
    left: 0;
}

.background img {
    max-width: 700px;
    max-height: 580px;
}
.background2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    padding: 20px;
    max-width: 80%;
    max-height: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: rgba(17, 70, 169, 0.7);
    border-radius: 30px;
}

.Back-button {
    color: white;
    background-color: blue;
    position: absolute;
    top: 70px;
    left: 90%;
    border-radius: 5px;
    padding: 10px;
    height: auto;
    transform: translateX(-50%);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Back-button:hover {
    color: black;
    background-color: white;
}
:target {
    display: block;
}